.slide{
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.carrosel{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    background-color: var(--color-6);
    opacity: 0;  
}

.glass {
    width: 90vw;
    height: 70vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: absolute;
    background: rgba(44, 43, 43, 0.366);   
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.carrosel.active{
    opacity: 1;
}

.image.animacao,
.titulo_slide.animacao ,
.titulo-destaque.animacao,
.conteudo.animacao {
    opacity: 0;
    padding: 2% 5% ;
}


@keyframes entrada {
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        filter: blur(0px);
        opacity: 1;
     }
}
.animacao {

    animation: showContent 0.5s ease-in-out 1 forwards;
}

@keyframes showContent {
    from{
        transform: translateY(40px);
        filter: blur(30px);
    }to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

.content{
    width: 50vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-3);
    
    animation-delay: 0.2s;
    opacity: 0;
}

.titulo_slide {
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 100;
    /* padding-bottom: .5em; */
    animation-delay: 0.3s ;
    justify-content: left;

    span{
        font-weight: 700;
        color: var(--color-2);
    }
    
}

.titulo {
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: 100;
    /* padding-bottom: .5em; */
    animation-delay: 0.3s ;
    span{
        font-weight: 700;
        color: var(--color-2);
    }
    
}
.titulo-destaque{
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1em;
    /* padding-bottom: .5em; */
    letter-spacing: .1em;
    animation-delay: 0.5s ;
    position: relative;
}
.conteudo{
    font-size: larger;
    animation-delay: 0.8s;
    
}


.image{
    width: 40vw;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    animation-delay: 1s;
    /* background: rgba(44, 43, 43, 0.2);   
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px; */
}
.shape{
    width: 90%;
    height: 90%;
    background-color: var(--color-2);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 10px 10px 20px 1px rgba(136, 239, 255, 0.296);
    opacity: 1;
    animation: blobby 10s ease-in-out infinite;
    filter: blur(15px);
}
@keyframes blobby {
    0% { border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; 
    box-shadow: 10px 10px 20px 1px rgba(136, 239, 255, 0.296);}

    50% { border-radius: 30% 60% 50% 40% / 40% 60% 60% 50%; 
        box-shadow: -5px -5px 20px 1px rgba(136, 239, 255, 0.296);
    }
    100% { border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 10px 10px 20px 1px rgba(136, 239, 255, 0.296);
    }
}
.image img{
    width: 90%;
    position: absolute;
    opacity: 1;
}

.arrows{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    color: #fff;
    height: 50px;
    font-size: 1.6em;
    padding-bottom: 2%;

}
.arrow{
    border: 1px #fff solid;
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.arrow:hover{
    opacity: 1;
    scale: 1.1;
}

@media (max-width: 768px){


    .slide{
        height: 96vh;
    }
    .carrosel {        
        flex-direction: column;
        justify-content: start;
        gap: 10%;
        padding-top: 20px;
        height: 95vh;
        width: 95vw;
        border-radius: 20px;
        margin-top: 3%;
    }
    .glass{        
        flex-direction: column;
        justify-content: start;
        gap: 10%;
        
        padding-top: 20px;
        height: 80vh;
        width: 80vw;
        border-radius: 20px;
        margin-top: 3%;
    }
    .content{
        width: 87vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
        padding: 15px;
        text-align: center;
    }

    .titulo_slide{
    font-size: 1.2em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 1em;
    }
    .titulo-destaque{
        font-size: 2em;


    }
    .titulo-destaque::before {
        content: '';
        display: block;
        width: 100px;
        height: 10px;
        background-color: var(--color-2);
        position: absolute;
        bottom: -5px;
        border-radius: 30px;
    }

    .image{
        width: 60vw;
        height: 200px;
        position: absolute;
        bottom: 30px;

    }
    .shape{
        height: 170px;
        width: 220px;
    }

    .conteudo{
        
        font-size: medium;
        top: 60vh;
        text-align: justify;
        padding: 0 10%;
    }
    .arrows{
        padding-bottom: 0;
    }
}